# General options for additional checks
CONFIG_HEAP_POISONING_COMPREHENSIVE=y
CONFIG_COMPILER_WARN_WRITE_STRINGS=y
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=y
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y
CONFIG_COMPILER_STACK_CHECK=y

# Serial flasher config
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

# disable task watchdog since this app uses an interactive menu
CONFIG_ESP_TASK_WDT_INIT=n

# some tests verify file name encoding
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_API_ENCODING_UTF_8=y
CONFIG_FATFS_CODEPAGE_936=y

# some of the tests verify concurrent operation of FAT partitions in
# an SD card and in Flash, so need to use a custom partition table.
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_4m.csv"

CONFIG_ESP_GDBSTUB_ENABLED=y

CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=20
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=128
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=128
CONFIG_ESP_WIFI_AMPDU_TX_ENABLED=y
CONFIG_ESP_WIFI_TX_BA_WIN=32
CONFIG_ESP_WIFI_AMPDU_RX_ENABLED=y
CONFIG_ESP_WIFI_RX_BA_WIN=32

# CONFIG_ESP_WIFI_IRAM_OPT is not set
# CONFIG_ESP_WIFI_EXTRA_IRAM_OPT is not set
# CONFIG_ESP_WIFI_RX_IRAM_OPT is not set
# CONFIG_ESP_WIFI_SLP_IRAM_OPT is not set
# CONFIG_LWIP_IRAM_OPTIMIZATION=y

CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65535
CONFIG_LWIP_TCP_WND_DEFAULT=65535
CONFIG_LWIP_TCP_RECVMBOX_SIZE=64
CONFIG_LWIP_UDP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=64

CONFIG_FREERTOS_HZ=1000
CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

CONFIG_SPIRAM=y
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n

CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_UNITY_ENABLE_64BIT=y

#
# GMF Video Configurations
#

#
# GMF Video Codec
#
CONFIG_GMF_VIDEO_CODEC_INIT_DECODER=y
CONFIG_GMF_VIDEO_DEC_CODEC_TYPE_AUTO=y
CONFIG_GMF_VIDEO_DEC_CODEC_TYPE=0x00000000
CONFIG_GMF_VIDEO_CODEC_INIT_ENCODER=y
CONFIG_GMF_VIDEO_ENC_CODEC_TYPE_AUTO=y
CONFIG_GMF_VIDEO_ENC_CODEC_TYPE=0x00000000
# end of GMF Video Codec

#
# GMF Video Effects
#
CONFIG_GMF_VIDEO_EFFECTS_INIT_FPS_CONVERT=y
CONFIG_GMF_VIDEO_EFFECTS_INIT_OVERLAY=y
CONFIG_GMF_VIDEO_EFFECTS_INIT_COLOR_CONVERT=y

#
# Video effects color convert Configuration
#
CONFIG_GMF_VIDEO_EFFECTS_CC_INPUT_WIDTH=320
CONFIG_GMF_VIDEO_EFFECTS_CC_INPUT_HEIGHT=240
CONFIG_GMF_VIDEO_EFFECTS_CC_INPUT_FMT_GREY=y
CONFIG_GMF_VIDEO_EFFECTS_CC_INPUT_PIXEL_FORMAT=0x59455247
CONFIG_GMF_VIDEO_EFFECTS_CC_OUTPUT_FMT_RGB565_LE=y
CONFIG_GMF_VIDEO_EFFECTS_CC_OUTPUT_PIXEL_FORMAT=0x4C424752
CONFIG_GMF_VIDEO_EFFECTS_CC_COLOR_SPACE_BT601=y
CONFIG_GMF_VIDEO_EFFECTS_CC_COLOR_SPACE=0
# end of Video effects color convert Configuration

CONFIG_GMF_VIDEO_EFFECTS_INIT_SCALE=y

#
# Video effects scale Configuration
#
CONFIG_GMF_VIDEO_EFFECTS_SCALE_INPUT_WIDTH=320
CONFIG_GMF_VIDEO_EFFECTS_SCALE_INPUT_HEIGHT=240
CONFIG_GMF_VIDEO_EFFECTS_SCALE_INPUT_FMT_RGB565_LE=y
CONFIG_GMF_VIDEO_EFFECTS_SCALE_INPUT_PIXEL_FORMAT=0x4C424752
CONFIG_GMF_VIDEO_EFFECTS_SCALE_OUTPUT_WIDTH=160
CONFIG_GMF_VIDEO_EFFECTS_SCALE_OUTPUT_HEIGHT=120
CONFIG_GMF_VIDEO_EFFECTS_SCALE_FILTER_DOWN_RESAMPLE=y
CONFIG_GMF_VIDEO_EFFECTS_SCALE_FILTER_TYPE=0
# end of Video effects scale Configuration

CONFIG_GMF_VIDEO_EFFECTS_INIT_CROP=y

#
# Video effects crop Configuration
#
CONFIG_GMF_VIDEO_EFFECTS_CROP_INPUT_WIDTH=320
CONFIG_GMF_VIDEO_EFFECTS_CROP_INPUT_HEIGHT=240
CONFIG_GMF_VIDEO_EFFECTS_CROP_INPUT_FMT_RGB565_LE=y
CONFIG_GMF_VIDEO_EFFECTS_CROP_INPUT_PIXEL_FORMAT=0x4C424752
CONFIG_GMF_VIDEO_EFFECTS_CROP_X_POS=0
CONFIG_GMF_VIDEO_EFFECTS_CROP_Y_POS=0
CONFIG_GMF_VIDEO_EFFECTS_CROP_OUTPUT_WIDTH=160
CONFIG_GMF_VIDEO_EFFECTS_CROP_OUTPUT_HEIGHT=120
# end of Video effects crop Configuration

CONFIG_GMF_VIDEO_EFFECTS_INIT_ROTATE=y

#
# Video effects rotate Configuration
#
CONFIG_GMF_VIDEO_EFFECTS_ROTATE_INPUT_WIDTH=320
CONFIG_GMF_VIDEO_EFFECTS_ROTATE_INPUT_HEIGHT=240
CONFIG_GMF_VIDEO_EFFECTS_ROTATE_INPUT_FMT_RGB565_LE=y
CONFIG_GMF_VIDEO_EFFECTS_ROTATE_INPUT_PIXEL_FORMAT=0x4C424752
CONFIG_GMF_VIDEO_EFFECTS_ROTATE_DEGREE=0
# end of Video effects rotate Configuration
# end of GMF Video Effects
# end of GMF Video Configurations
# end of ESP GMF Loader
# ESP GMF Loader
#

#
# GMF IO Reader
#
CONFIG_GMF_IO_INIT_CODEC_DEV_RX=y
CONFIG_GMF_IO_INIT_FILE_READER=y
CONFIG_GMF_IO_INIT_HTTP_READER=y

#
# HTTP Reader Configuration
#
CONFIG_GMF_IO_HTTP_READER_TASK_STACK=3072
CONFIG_GMF_IO_HTTP_READER_TASK_CORE=0
CONFIG_GMF_IO_HTTP_READER_TASK_PRIORITY=5
CONFIG_GMF_IO_HTTP_READER_OUT_BUF_SIZE=8192
CONFIG_GMF_IO_HTTP_READER_CERT_PEM=""
# end of HTTP Reader Configuration

CONFIG_GMF_IO_INIT_FLASH_READER=y

#
# GMF IO Writer
#
CONFIG_GMF_IO_INIT_CODEC_DEV_TX=y
CONFIG_GMF_IO_INIT_FILE_WRITER=y
CONFIG_GMF_IO_INIT_HTTP_WRITER=y

#
# HTTP Writer Configuration
#
CONFIG_GMF_IO_HTTP_WRITER_TASK_STACK=3072
CONFIG_GMF_IO_HTTP_WRITER_TASK_CORE=0
CONFIG_GMF_IO_HTTP_WRITER_TASK_PRIORITY=5
CONFIG_GMF_IO_HTTP_WRITER_OUT_BUF_SIZE=8192
CONFIG_GMF_IO_HTTP_WRITER_CERT_PEM=""
# end of HTTP Writer Configuration
# end of GMF IO Writer
# end of GMF IO Configurations

#
# GMF Audio Codec
#
CONFIG_GMF_AUDIO_CODEC_INIT_DECODER=y
CONFIG_GMF_AUDIO_CODEC_DECODER_TYPE_PCM=y
# end of GMF Audio Codec

#
# PCM Decoder Configuration
#
CONFIG_GMF_AUDIO_CODEC_DEC_PCM_SAMPLE_RATE=44100
CONFIG_GMF_AUDIO_CODEC_DEC_PCM_CHANNEL=2
CONFIG_GMF_AUDIO_CODEC_DEC_PCM_BITS_PER_SAMPLE=16
# end of PCM Decoder Configuration

#
# AAC Encoder Configuration
#
CONFIG_GMF_AUDIO_CODEC_INIT_ENCODER=y
CONFIG_GMF_AUDIO_CODEC_ENCODER_TYPE_PCM=y
# end of AAC Encoder Configuration

#
# GMF Audio Effects
#
CONFIG_GMF_AUDIO_EFFECT_INIT_ALC=y
CONFIG_GMF_AUDIO_EFFECT_INIT_CH_CVT=y
CONFIG_GMF_AUDIO_EFFECT_CH_CVT_DEST_CH=2
CONFIG_GMF_AUDIO_EFFECT_INIT_BIT_CVT=y
CONFIG_GMF_AUDIO_EFFECT_BIT_CVT_DEST_BITS=16
CONFIG_GMF_AUDIO_EFFECT_INIT_RATE_CVT=y
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_DEST_RATE=48000
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_COMPLEXITY=1
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_PERF_TYPE_MEMORY=y
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_PERF_TYPE=0
CONFIG_GMF_AUDIO_EFFECT_INIT_DEINTERLEAVE=y
CONFIG_GMF_AUDIO_EFFECT_INIT_INTERLEAVE=y
CONFIG_GMF_AUDIO_EFFECT_INIT_MIXER=y
CONFIG_GMF_AUDIO_EFFECT_INIT_EQ=y
CONFIG_GMF_AUDIO_EFFECT_INIT_SONIC=y
CONFIG_GMF_AUDIO_EFFECT_INIT_FADE=y
# end of GMF Audio Effects

#
# GMF AI Audio
#
CONFIG_GMF_AI_AUDIO_INIT_AEC=y
CONFIG_GMF_AI_AUDIO_AEC_FILTER_LEN=4
CONFIG_GMF_AI_AUDIO_AEC_CH_ALLOCATION="RMNM"
# end of GMF AI Audio

#
# GMF Miscellaneous
#
CONFIG_GMF_MISC_INIT_COPIER=y
# end of GMF Miscellaneous
